* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Satoshi", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-weight: 600;
  font-size: 20px;
  margin-top: 17px;
  opacity: 0.64;
}
/* first-sec-start */
.magic {
  background: linear-gradient(180deg, #9747ff 0%, #684dff 100%);
  color: #fff;
}
.one ul {
  display: flex;
  gap: 2rem;
  margin-left: 64%;
}
.little {
  text-align: center;
  line-height: 2;
  padding: 5%;
}
.install {
  cursor: pointer;
  background-color: rgb(27, 207, 105);
  color: #fff;
  padding: 10px;
  border-radius: 32px;
  font-weight: 600;
  padding-right: 39px;
  padding-left: 34px;
  border: none;
  margin-top: 17px;
}
.magic-hero {
  text-align: center;
  border-radius: 40px;
}
.buttons {
  text-align: center;
  padding: 21px;
}
.like {
  padding: 7px;
  background-color: transparent;
  color: #fff;
  padding-right: 12px;
  border-color: grey;
  border-radius: 27px;
  padding-left: 12px;
  cursor: pointer;
  font-weight: 600;
}

.download {
  padding: 7px;
  background-color: transparent;
  color: #fff;
  padding-right: 12px;
  border-color: grey;
  border-radius: 27px;
  padding-left: 12px;
  cursor: pointer;
  font-weight: 600;
}
.made {
  padding: 53px;
  color: #fff;
}
/* first-sec-end */

/* sec-tw-start */
.magic-wand {
  background-color: rgb(73, 63, 63);
  color: #fff;
}
.text {
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
  padding-top: 92px;
}
.text h1 {
  padding: 5px;
}

.more {
  text-align: center;
  padding: 66px;
  display: flex;
  gap: 4rem;
  margin-left: 157px;
}
.text-icon {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}
.magic-img {
  text-align: center;
  border-radius: 40px;
  padding: 23px;
}
/* sec-two-end */

/* sec-three-start */
.spells {
  background-color: rgb(247, 240, 240);
}
.text {
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
  padding-top: 92px;
}
.text h1 {
  padding: 5px;
}

.more {
  text-align: center;
  padding: 66px;
  display: flex;
  gap: 4rem;
  margin-left: 157px;
}
.magic-icon {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(8, 6, 6);
  color: #fff;

  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}
.figma {
  text-align: center;
  border-radius: 40px;
  padding: 23px;
}
.figma-two {
  position: absolute;
  top: 354%;
  left: 42%;
}
/* sec-three-end */

/* sec-four-start */

.diagram {
  background-color: rgb(48, 47, 47);
  color: #fff;
  text-align: center;
}
.text {
  padding: 32px;
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
}
.pics {
  padding-inline-start: 3px;
}
