* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Satoshi", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-weight: 600;
  font-size: 20px;
  margin-top: 17px;
  opacity: 0.64;
}
/* first-sec-start */
.magic {
  background: linear-gradient(180deg, #9747ff 0%, #684dff 100%);
  color: #fff;
}
.main-heading {
  padding: 5px;
}
.one span {
  opacity: 0.64;
}
.one ul {
  display: flex;
  gap: 2rem;
  margin-left: 64%;
}
.little {
  text-align: center;
  line-height: 2;
  padding: 5%;
}
.install {
  cursor: pointer;
  background-color: rgb(27, 207, 105);
  color: #fff;
  padding: 10px;
  border-radius: 32px;
  font-weight: 600;
  padding-right: 39px;
  padding-left: 34px;
  border: none;
  margin-top: 17px;
}
.magic-hero {
  text-align: center;
  border-radius: 40px;
}
.buttons {
  text-align: center;
  padding: 21px;
}
.figma-one {
  display: inline-block;
  margin-right: 10px;
}
.like {
  padding: 7px;
  background-color: transparent;
  color: #fff;
  padding-right: 12px;
  border-color: grey;
  border-radius: 27px;
  padding-left: 12px;
  cursor: pointer;
  font-weight: 600;
}
.heart {
  display: inline-block;
  margin-right: 7px;
}
.arrow {
  display: inline-block;
  margin-right: 7px;
}

.download {
  padding: 7px;
  background-color: transparent;
  color: #fff;
  padding-right: 12px;
  border-color: grey;
  border-radius: 27px;
  padding-left: 12px;
  cursor: pointer;
  font-weight: 600;
}
.made {
  padding: 53px;
  color: #fff;
}
/* first-sec-end */

/* sec-two-start */
.magic-wand {
  background-color: rgb(73, 63, 63);
  color: #fff;
}
.text {
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
  padding-top: 92px;
}
.text h1 {
  padding: 5px;
}

.more {
  text-align: center;
  padding: 66px;
  display: flex;
  gap: 4rem;
  margin-left: 157px;
}
.text-icon {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}
.magic-img {
  text-align: center;
  border-radius: 40px;
  padding: 23px;
}
.magic-image {
  display: inline-block;
  margin-right: 11px;
}

/* sec-two-end */

/* sec-three-start */
.spells {
  background-color: rgb(247, 240, 240);
}
.text {
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
  padding-top: 92px;
}
.text h1 {
  padding: 5px;
}
.each {
  font-size: 20px;
  margin-top: 17px;
  width: 483px;
}
.more {
  text-align: center;
  padding: 29px;
  display: flex;
  gap: 4rem;
  margin-left: 238px;
}
.design {
  margin-top: 17px;
  opacity: 0.46;
  width: 483px;
}
.magic-icon {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(8, 6, 6);
  color: #fff;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}
.figma {
  text-align: center;
  padding: 20px;
  margin-right: 17px;
  border-radius: 43px;
}

.figma-two {
  position: absolute;
  top: 385%;
  left: 42%;
}
/* sec-three-end */

/* sec-four-start */

.diagram {
  background-color: rgb(48, 47, 47);
  color: #fff;
  text-align: center;
}
.text {
  padding: 32px;
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
}
.magician-designn {
  padding: 25px;
}
.prototyper {
  margin-left: 20px;
  border-radius: 27px;
}
.automator {
  margin-right: 10px;
  border-radius: 27px;
}

.ids ul {
  max-width: 501px;
  margin-left: 29%;
  padding: 26px;
}

.ids li {
  display: inline-block;
  padding: 7px;
}
/* sec-four-end */

/* sec-five-start */
.pricing {
  text-align: center;
  background-color: #7b61ff;
  color: #fff;
}
.pricing h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 156px;
}
.public-beta {
  background-color: #fff;
  color: black;
  width: 32%;
  border-radius: 26px;
  height: 425px;
  margin-left: 35%;
  line-height: 2rem;
}
.pricing h2 {
  color: #7b61ff;
  font-size: 19px;
  margin-right: 50%;
  padding-top: 23px;
}
.free h1 {
  margin-right: 63%;
}
.free p {
  opacity: 0.34;
  margin-right: 116px;
  margin-top: -52px;
}
.free ul {
  padding: 12px;
  margin-right: 50%;
  font-weight: 700;
  font-size: 18px;
  line-height: 3rem;
  color: black;
  margin-bottom: 24px;
}
.try {
  cursor: pointer;
  background-color: #7b61ff;
  color: #fff;
  padding: 9px;
  border-radius: 32px;
  font-weight: 600;
  padding-right: 39px;
  padding-left: 34px;
  border: none;
  margin-left: 45px;
  margin-right: 41px;
  margin-top: -8%;
}
/* sec-five-end */

/* sec-six-start */
.magician {
  background-color: #291a3f;
  color: #fff;
  height: 699px;
}
.get h1 {
  text-align: center;
  font-weight: 700;
  font-size: 268%;
  padding-top: 98px;
}
.get p {
  text-align: center;
}
.icon {
  text-align: center;
  padding: 50px;
}
.figma-three {
  cursor: pointer;
  background-color: #7b61ff;
  color: #fff;
  padding: 13px;
  border-radius: 32px;
  font-weight: 600;
  padding-right: 39px;
  padding-left: 34px;
  border: none;
  margin-top: 17px;
  text-align: center;
}
.discard {
  opacity: 0.64;
}
.join {
  display: inline-block;
  margin-right: 10px;
  opacity: 0.64;
  margin-top: 13px;
}
.company {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16%;
}
.company h1 {
  font-size: 109%;
}
.footer ul {
  display: flex;
  gap: 3rem;
}
