* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Satoshi", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  font-size: 20px;
  opacity: 0.64;
  margin: 12px;
  line-height: 28px;
}
.a {
  color: inherit;
}
/* first-sec-start */
.magic {
  background: linear-gradient(180deg, #9747ff 0%, #684dff 100%);
  color: #fff;
}
.nav {
  display: flex;
  padding-top: 2%;
  padding-left: 17%;
}
.one h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-left: -21px;
}
.one span {
  opacity: 0.64;
  font-weight: 100;
}
.one li {
  display: inline-block;
  margin-left: 24px;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}
.little {
  text-align: center;
  margin-top: 12%;
}
.little h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
}
.logo {
  display: flex;
  justify-content: space-between;
  padding-right: 17%;
  padding-top: 2%;
  padding-left: 17%;
  margin-right: -48px;
}

.install {
  background: linear-gradient(180deg, #1ce28f 0%, #15ab6c 100%);
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.16),
    0 0 0 2px rgba(0, 0, 0, 0.12);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  color: #fff;
  padding: 10px;
  border-radius: 32px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  margin-top: 17px;
  font-size: 16px;
}
.icons {
  display: inline-block;
  width: 20px;
  margin-right: 12px;
  height: 20px;
}

.btn {
  font-weight: 500;
  display: inline-block;

  font-size: 15px;
}
.magic-hero {
  text-align: center;
  border-radius: 40px;

  margin-top: 38px;
}
.buttons {
  text-align: center;
  padding: 21px;
}
.figma-one {
  display: inline-block;
  margin-right: 10px;
}
.buttons {
  margin-top: 29px;
  margin-left: 39px;
}
.like {
  padding: 12px 24px;
  padding-right: 12px;
  border-radius: 27px;
  font-weight: 700;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.12);
  color: #fff;
  cursor: default;
  font-size: 18px;
}
.download {
  padding: 12px 24px;
  padding-right: 44px;
  border-radius: 27px;
  font-weight: 700;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.12);
  color: #fff;
  cursor: default;
  font-size: 18px;
}
.heart {
  display: inline-block;
  margin-right: 7px;
}
.arrow {
  display: inline-block;
  margin-right: 7px;
}
.made {
  padding: 38px;
  color: #fff;
}
/* first-sec-end */

/* sec-two-start */
.magic-wand {
  background-color: #333333;
  color: #fff;
  text-align: center;
  padding-top: 13%;
}

.text {
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
  padding-top: 92px;
}
.two h2 {
  font-size: 36px;
  font-weight: 900px;
  line-height: 44px;
}
.desc {
  font-weight: 40;
  font-size: 20px;
  line-height: 28px;
  opacity: 0.64;
  max-width: 480px;
  margin-left: 32%;
}
.button-one {
  background: #fff;
  color: black;
  border-radius: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.button-two {
  padding: 12px 24px;
  border-radius: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.button {
  padding: 12px 24px;
  border-radius: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.button-more {
  opacity: 0.24 !important;
  cursor: default;
  font-weight: 700;
}
.pills {
  padding: 20px;
}
.pills li {
  display: inline-block;
}
.button.active svg {
  fill: black;
}
.pills li .button:not(.active) {
  background: none !important;
  opacity: 0.48;
}
.button-two svg {
  fill: #fff;
}
.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: text-bottom;
  margin-right: 12px;
}
.more {
  text-align: center;
  padding: 66px;
  display: flex;
  gap: 4rem;
  margin-left: 157px;
}
.text-icon {
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #fff;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
}
.preview {
  text-align: center;
  border-radius: 40px;
  padding: 23px;
}
.magic-image {
  display: inline-block;
  margin-right: 11px;
  border-radius: 40px;
}

/* sec-two-end */

/* sec-three-start */
.spells {
  background-color: rgb(247, 240, 240);
  text-align: center;
}
.spells h2 {
  padding-top: 9%;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}
.button-three {
  border-radius: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.button-three .active {
  color: #fff;
}
.button-three {
  background: #333333;
}
.button:not(.active) {
  background: none !important;
  opacity: 0.48;
}
.button-more {
  opacity: 0.24 !important;
  cursor: default;
  font-weight: 700;
}
.more {
  text-align: center;
  padding: 29px;
  display: flex;
  gap: 4rem;
  margin-left: 238px;
}
.design {
  margin-top: 17px;
  opacity: 0.46;
  width: 483px;
}
.plugin {
  position: relative;
  margin-top: 84px;
}
.automator {
  width: 240px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 24px 40px rgba(0, 0, 0, 0.24);
  border-radius: 16px;
}
.automator {
  border-radius: 27px;
}
.figma {
  max-width: 720px;
  max-height: 480px;
  opacity: 0.24;
  margin-left: 22%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24), 0px 24px 40px rgba(0, 0, 0, 0.24);
  border-radius: 40px;
  background: #fff;
  overflow: hidden;
}
.figma img {
  display: block;
  width: 100%;
}

/* sec-three-end */

/* sec-four-start */

.diagram {
  background-color: #333333;
  color: #fff;
  text-align: center;
  width: 1275px;
}
a {
  color: inherit;
}
.four h2 {
  padding-top: 29%;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
}

.text-four {
  text-align: center;
  max-width: 500px;
  margin-left: 28%;
}
.apps {
  width: 100%;
  background-color: #edeef0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 40px;
  padding: 80px 24px;
  min-height: auto;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 12%), 0px 24px 40px rgb(0 0 0 / 12%);
  position: relative;
}

.apps {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.app-preview {
  flex-direction: column;
}
.icon {
  display: inline;
  margin: 0 auto 12px;
  width: 40px;
  height: 40px;
}
.apps h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}
.apps p {
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  padding-top: 4px;
  opacity: 0.8;
  margin-bottom: 12px;
}
.apps a {
  padding-top: 0;
  font-size: 16px;
  margin: 0 8px;
  margin-bottom: 0;
  opacity: 1;
}
.flex-previewer {
  position: relative;
  height: 192px;
  width: 100%;
  margin-top: 40px;
}
.prototyper {
  background-color: #1a1a1a;
  color: #fff;
}
.apps .flex {
  flex: auto;
}
.ids {
  padding-top: 5px;
}
.ids ul {
  max-width: 600px;
  margin: auto;
  padding-top: 32px;
}

.ids li {
  display: inline-block;
  margin: 12px 20px;
}
/* sec-four-end */

/* sec-five-start */
.pricing {
  text-align: center;
  background-color: #7b61ff;
  color: #fff;
  width: 1275px;
}
.pricing h2 {
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: #fff;
  padding: 83px;
}
.plans {
  max-width: 404px;
  font-size: 0;
  background-color: #fff;
  border-radius: 40px;
  margin-left: 34%;
}
.personals-plan {
  width: 55%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12), 0px 24px 40px rgba(0, 0, 0, 0.12);
  position: relative;
  z-index: 2;
}
.details {
  padding: 33px;
}
.plans h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #7b61ff;
  display: flex;
  align-items: center;
  gap: 8px;
}
.free {
  display: block;
  margin-right: 66%;
  margin-top: 34px;
}
.plans h3 strong {
  font-weight: 900;
}
.plans h3 {
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  color: black;
}
.plans p {
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
  margin-bottom: 40px;
  font-weight: 600;
  margin-top: 8px;
  margin-right: 35%;
}
.plans ul li {
  margin-right: 54%;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: black;
  margin-bottom: 24px;
}
.plans ul li ::before {
  content: "";
  display: inline-block;
  vertical-align: text-top;
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

.plans .btn {
  display: block;
  text-align: center;
  width: 100%;
}
.button-free {
  padding: 12px 109px;
  background: #7b61ff;
  color: #fff;
  border-radius: 48px;
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
/* sec-five-end */

/* sec-six-start */
.tweets {
  background-color: #190b2e;
  color: #fff;
  text-align: center;
  padding-top: 5px;
}
.get h1 {
  font-weight: 900;
  font-size: 36px;
  margin-top: 13%;
}

.figma-three {
  cursor: pointer;
  background-color: #7b61ff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 32px;
  line-height: 24px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  margin-top: 17px;
}
.discard {
  opacity: 0.64;
}
.join {
  display: inline-block;
  margin-right: 10px;
  opacity: 0.64;
  margin-top: 13px;
}
.company {
  display: flex;
  justify-content: space-evenly;
  margin-top: 19%;
}
.company h1 {
  font-size: 109%;
}
.footer ul {
  display: flex;
  gap: 3rem;
}
/* last-sec-end */
